body {
  color: #FEFEFE;
  background-color: #0c0d10;
}

@font-face {
  font-family: "gohu";
  src: url("gohu.woff") format('woff');
}

pre {
  font-family: "gohu", "Lucida Console", monospace, Monaco;
  font-size: 14px;
  line-height: 1.0;
  -webkit-text-size-adjust: 140%;
}

a {
  color: green;
  text-decoration: none;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
}


@media (min-width: 992px) {
  .container {
  width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
  width: 1170px;
  }
}
